includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
        - tests

    # Rule level
    level: 8

    excludePaths:
        - ./*/*/vendor/*
        - ./*/*/node_modules/*
