:root {
    --surface-low: #9E9E9E;
    --surface-high: #616161;
    --surface-highest: #172240;

    --container-highest: #E0E0E0;
}

/* invoice base styles */
.invoice {
    font-family: var(--invoice-font, AvenirNext), sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: var(--surface-highest);
    font-weight: 400;
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
}

.invoice tr {
    page-break-inside: avoid;
}

.invoice td {
    padding: 0;
}

/* invoice header */
.invoice__header {
    margin-bottom: 40px;
}

.invoice__header {
    table-layout: auto;
}

.invoice__header-cell {
    vertical-align: top;
}


.invoice__logo {
    height: 50px;
    width: auto;
}

.invoice__seller {
    text-align: left;
    font-size: 12px;
    width: 1px;
    white-space: nowrap;
    color: var(--surface-high);
}

.invoice__seller-name {
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--surface-highest);
}

.invoice__seller-detail {
    margin-bottom: 18px;
}

.invoice__seller-detail:last-child {
    margin-bottom: 0;
}

/* invoice buyer */
.invoice__buyer {
    margin-bottom: 40px;
    margin-top: -20px;
    font-size: 12px;
    color: var(--surface-high);
}

.invoice__buyer-name {
    font-weight: 700;
    color: var(--surface-highest);
    margin-bottom: 6px;
}

.invoice__buyer-detail {
    margin-bottom: 18px;
}

.invoice__buyer-detail:last-child {
    margin-bottom: 0;
}

/* invoice number section */
.invoice__number-section {
    margin-bottom: 20px;
}

.invoice__number-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.invoice__number-dates {
    text-align: right;
    font-size: 12px;
}

.invoice__number-dates-table {
    width: auto;
    float: right;
}

.invoice__number-dates-label {
    text-align: right;
}

.invoice__number-dates-value {
    text-align: right;
}

/* invoice items */
.invoice__items {
    width: 100%;
    margin-top: 30px;
}

.invoice__items-header {
    text-align: left;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--container-highest);
    font-weight: 700;
}

.invoice__items-header--right {
    text-align: right;
}

.invoice__items-cell {
    padding: 8px 0 !important;
    border-bottom: 1px solid var(--container-highest);
    vertical-align: top;
}

.invoice__items-cell-no-border {
    border-bottom: none !important;
}

.invoice__items-cell--right {
    text-align: right;
}

.invoice__items-title {
    font-weight: 400;
}

.invoice__items-description {
    color: var(--surface-low);
    font-size: 12px;
}

/* invoice totals */
.invoice__totals {
    width: 100%;
    margin-top: 8px;
}

.invoice__totals-cell {
    padding: 8px 0 !important;
    text-align: right;
}

.invoice__totals-cell span {
    display: block;
    margin-bottom: 4px;
}

.invoice__totals-cell span:last-child {
    margin-bottom: 0;
}

.invoice__totals-cell-border {
    padding: 8px 0 !important;
    text-align: right;
    border-top: 1px solid var(--container-highest);
}

.invoice__totals-row--final {
    font-weight: 700;
}

/* invoice footer */
.invoice__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 12px;
    border-top: 1px solid var(--container-highest);
    padding-top: 15px;
}

.invoice__footer-amount {
    font-weight: 700;
}

.invoice__footer-date {
    font-weight: 700;
}
